<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h1>Welcome, <%= user.username %></h1>

<form action="<%= '/users/weather' %>" method='GET'>
  <label name='zip'>Zip:
    <input type='text' name='zip' />
  </label>
  <input type='submit' />
</form>
<div id='current'></div>
<p>FAVORITES:</p>
 <% favorites.forEach(function(favorite) { %>
        <div>
        <form action="<%= '/users/weather' %>" method='GET'>
          <input type='hidden' name='zip' value='<%= favorite.zip %>'/>
          <button type='submit'><%= favorite.town %></button>
        </form>
        </div>
    <% }) %>
  <a href="/auth/logout">LOG OUT</a>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
  //found this snippet on w3 schools to use native HTML geolocation
const x = document.getElementById("current");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(getPositionWeather);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

getLocation();

function getPositionWeather(position) {
  axios.post('/user', {long: position.coords.longitude, lat: position.coords.latitude})
  .then((response) => {
    x.innerHTML = response.data.weather.temperature+', '+response.data.weather.summary
  })

  }

</script>
</body>
</html>
