<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <%= town %>
  <h3><%= weather.currently.temperature %>, <%= weather.currently.summary %></h3>
  <h3><%= weather.daily.summary %></h3>
  <a href='/user'>back</a>
  <form action="<%= '/users/'+town+'/'+zip %>" method='POST'>
  <button type='submit'>Add to favorites</button>
</form>
<form action="<%= '/users/weather/'+long+'/'+lat+'/'+town %>" method='GET'>
<input type='date' name='date' />
<button type='submit'/>show weather for this date</button>
</form>
</body>
</html>
